:root{
    --amarelo: #fec63e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
}

.container{
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.875rem;
}

.header{
    background-color: var(--amarelo);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 10;

    &__menu{
        list-style: none;
        display: flex;
    }

    &__item{
        margin-left: 1rem;
    }

    &__link{
        padding: 5px;
        color: #000;
        font-size: .875rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1rem;
        transition: 0.3s;
        &:hover{
            color: #FFF;
            border-bottom: 5px solid black;
        }
    }
}

.destaque{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 380px;
    margin-top: 94px;
    display: flex;
    align-items: center;

    .container{
        flex-direction: column;
    }

    &__titulo{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
    }

    
}

.c-quote-externo{
    text-transform: lowercase;
    text-align: center;
    color: white;
    max-width: 20rem;

    &::before, &::after{
        display: block;
        content: "";
        width: 80px;
        margin: 10px auto;
        border-top: 3px solid white;
    }

    &__paragrafo{
        font-style: italic;
    }
    
    &__autor{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-size: 0.875rem;
        letter-spacing: .1em;
    }
}



.c-btn{
    border: 3px solid var(--amarelo);
    padding: 8px 15px;
    text-decoration: none;
    color: var(--amarelo);
    font-size: 0.875rem;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;

    &:hover{
        border-color: #FFF;
        color: #FFF;
    }
}

.is-black{

    &:hover{
        border-color:black;
        color: black;
    }
}

.produtos{
    padding: 60px 0;
    &__subtitulo{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        &::after{
            display: block;
            content: "";
            border-bottom: 3px solid black;
            width: 50px;
            margin: 5px auto;
        }
    }

    .list-produtos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 40px 0;
        &__items{
            background-color: var(--amarelo);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin: 0 5px;
        }

        &__img{
            background-color: black;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        &__titulo{
            color:#000;
            margin-top: 20px;
            letter-spacing: .1em;
            font-size: 1.125rem;
            &::after{
                display: block;
                content: "";
                border-bottom: 3px solid black;
                width: 50px;
                margin: 5px auto;
            }
        }

        &__paragrafo{
            color: #000;
            text-align: center;
            padding: 10px 20px 20px 10px;
            font-size: 0.875rem;
        }
    }

    .call{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__paragrafo{
            margin-bottom: 10px;
        }
    }
}

.portifolio{
    background-color: black;
    text-align: center;
    padding: 60px 0;
    &__subtitulo{
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px 0px;

        &::after{
            display: block;
            content: "";
            border-bottom: 3px solid white;
            width: 50px;
            margin: 5px auto;
        }
    }

    &__list-img{
        margin: 20px 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    &__items{
        margin-bottom: 15px;
    }

    .call{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__paragrafo{
            color: white;
            margin-bottom: 20px;
        }
    }

}

.qualidade{
    padding: 60px 0;
    position: relative;
    &::after{
        content: "";
        background-image: url("../img/linhas.svg");
        background-position: center;
        background-size: cover;
        display: block;
        position: absolute;
        top: 11.5rem;
        left: 22.42rem;
        right:0;
        bottom:0;
        width: 634px;
        height: 83px;
    }

    &__subtitulo{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;

        &::after{
            display: block;
            content: "";
            border-bottom: 3px solid black;
            width: 50px;
            margin: 5px auto;
        }
    }
    

    .container{
        flex-direction: column;
    }

    &__list{
        display: flex;
        align-items: center;
        list-style: none;
        margin-top: 50px;
    }

    &__items{
        text-align: center;
        padding: 0 40px;
        margin:0 10px;
    }

    &__titulo{
        color:#000;
        margin-top: 20px;
        letter-spacing: .1em;
        font-size: 1.125rem;
        &::after{
            display: block;
            content: "";
            border-bottom: 3px solid black;
            width: 50px;
            margin: 8px auto;
        }
    }

    .call{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__paragrafo{
            color: white;
            margin-bottom: 20px;
        }
    }
}

.quebra{
    align-items: center;
    background-image: url("../img/bg-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 220px;
    justify-content: center;
    width: 100%;
}

.footer{
    background-color: black;
    width: 100%;
    color: white;
    font-weight: bold;
    .container{ 
        align-items: start;
    }

    &__mapa{
        padding: 30px 0 ;
    }

    &__card:not(:first-child){
        margin-left: 30px;
    }

    &__titulo{
        color: var(--amarelo);
        font-weight: bold;
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            width: 50px;
            margin: 8px 0 ;
            border-bottom: 3px solid var(--amarelo);
            background-color: var(--amarelo);
        }
    }
    
    &__paragrafo{
        margin-top: 10px;
    }

    &__list{
        list-style: "- ";
    }

    &__social-midia{
        list-style: none;
        display: flex;

        &__items{
            border: 3px solid var(--amarelo);
            padding: 6px;
            margin: 0px 5px;
            
        }
    }

    &__copyright{
        background-color: var(--amarelo);
        width: 100%;
        padding: 20px 0px;
        p{
            color: #000;
        }
    }
}