:root {
  --amarelo: #fec63e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875rem;
}

.header {
  background-color: var(--amarelo);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 10;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-left: 1rem;
}

.header__link {
  padding: 5px;
  color: #000;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #FFF;
  border-bottom: 5px solid black;
}

.header .is-active {
  color: #FFF;
  border-bottom: 5px solid black;
}

.destaque {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 380px;
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destaque .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destaque__titulo {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.destaque-interna {
  width: 100%;
  height: 160px;
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destaque-interna .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destaque-interna__titulo {
  font-size: 2rem;
  font-weight: bold;
}

.destaque-interna__titulo::after {
  display: block;
  content: "";
  width: 80px;
  margin: 10px auto;
  border-top: 3px solid white;
}

.c-quote-externo {
  text-transform: lowercase;
  text-align: center;
  color: white;
  max-width: 20rem;
}

.c-quote-externo::before, .c-quote-externo::after {
  display: block;
  content: "";
  width: 80px;
  margin: 10px auto;
  border-top: 3px solid white;
}

.c-quote-externo__paragrafo {
  font-style: italic;
}

.c-quote-externo__autor {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.c-btn {
  border: 3px solid var(--amarelo);
  padding: 8px 15px;
  text-decoration: none;
  color: var(--amarelo);
  font-size: 0.875rem;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.c-btn:hover {
  border-color: #FFF;
  color: #FFF;
}

.is-black:hover {
  border-color: black;
  color: black;
}

.produtos {
  padding: 60px 0;
}

.produtos__subtitulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.produtos__subtitulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 50px;
  margin: 5px auto;
}

.produtos .list-produtos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 40px 0;
}

.produtos .list-produtos__items {
  background-color: var(--amarelo);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 5px;
}

.produtos .list-produtos__img {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.produtos .list-produtos__titulo {
  color: #000;
  margin-top: 20px;
  letter-spacing: .1em;
  font-size: 1.125rem;
}

.produtos .list-produtos__titulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 50px;
  margin: 5px auto;
}

.produtos .list-produtos__paragrafo {
  color: #000;
  text-align: center;
  padding: 10px 20px 20px 10px;
  font-size: 0.875rem;
}

.produtos .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produtos .call__paragrafo {
  margin-bottom: 10px;
}

.portifolio {
  background-color: black;
  text-align: center;
  padding: 60px 0;
}

.portifolio__subtitulo {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
}

.portifolio__subtitulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid white;
  width: 50px;
  margin: 5px auto;
}

.portifolio__list-img {
  margin: 20px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portifolio__items {
  margin-bottom: 15px;
}

.portifolio .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portifolio .call__paragrafo {
  color: white;
  margin-bottom: 20px;
}

.qualidade {
  padding: 60px 0;
  position: relative;
}

.qualidade::after {
  content: "";
  background-image: url("../img/linhas.svg");
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 11.5rem;
  left: 22.42rem;
  right: 0;
  bottom: 0;
  width: 634px;
  height: 83px;
}

.qualidade__subtitulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.qualidade__subtitulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 50px;
  margin: 5px auto;
}

.qualidade .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qualidade__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 50px;
}

.qualidade__items {
  text-align: center;
  padding: 0 40px;
  margin: 0 10px;
}

.qualidade__titulo {
  color: #000;
  margin-top: 20px;
  letter-spacing: .1em;
  font-size: 1.125rem;
}

.qualidade__titulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 50px;
  margin: 8px auto;
}

.qualidade .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qualidade .call__paragrafo {
  color: white;
  margin-bottom: 20px;
}

.quebra {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/bg-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer {
  background-color: black;
  width: 100%;
  color: white;
  font-weight: bold;
}

.footer .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__mapa {
  padding: 30px 0;
}

.footer__card {
  padding-right: 45px;
}

.footer__card:not(:first-child) {
  margin-left: 30px;
}

.footer__titulo {
  color: var(--amarelo);
  font-weight: bold;
  text-transform: uppercase;
}

.footer__titulo::after {
  content: "";
  display: block;
  width: 50px;
  margin: 8px 0;
  border-bottom: 3px solid var(--amarelo);
  background-color: var(--amarelo);
}

.footer__paragrafo {
  margin-top: 10px;
}

.footer__list {
  list-style: "-";
  padding: 0px 5px;
}

.footer__social-midia {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-midia__items {
  border: 3px solid var(--amarelo);
  padding: 6px;
  margin: 0px 5px;
}

.footer__copyright {
  background-color: var(--amarelo);
  width: 100%;
  padding: 20px 0px;
}

.footer__copyright p {
  color: #000;
}

.sobre {
  background-image: url("../img/bg-sobre.jpg");
}

.missao-valores {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.missao-valores .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.missao-valores__missao {
  width: 60%;
}

.missao-valores__titulo {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.missao-valores__titulo::after {
  content: "";
  display: block;
  width: 50px;
  margin: 6px 0;
  border-bottom: 3px solid #000;
}

.missao-valores__paragrafo {
  font-size: 1.1rem;
  padding: 15px 0;
}

.missao-valores__list {
  list-style: "-";
  list-style-position: inside;
}

.missao-valores__items {
  padding: 5px 0;
}

.missao-valores__img {
  width: 100%;
  max-width: 960px;
  margin-top: 50px;
  background-color: red;
}

.missao-valores__img img {
  width: 100%;
}

.produtos-bg {
  background-image: url("../img/bg-produtos.jpg");
  background-size: cover;
}

.produtos-item {
  padding-top: 60px;
}

.produtos-item .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.produtos-item__titulo {
  font-size: 2.25rem;
  letter-spacing: .1em;
  font-weight: bold;
  position: absolute;
  top: 110px;
  right: 220px;
  bottom: 0;
  color: white;
  text-transform: uppercase;
}

.produtos-item__titulo::before {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  border-top: 3px solid white;
}

.produtos-item__titulo::after {
  content: "";
  display: block;
  width: 60px;
  margin: 5px auto;
  border-bottom: 3px solid white;
}

.produtos-item__icone {
  background-color: black;
  width: 100%;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.produtos-item__card {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
}

.produtos-item__paragrafo {
  color: #FFF;
  font-size: 1.125rem;
  line-height: 25px;
  padding: 47px 40px;
}

.produtos-item__info {
  background-color: black;
}

.produtos-item__list {
  list-style: none;
  background-color: var(--amarelo);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.produtos-item__items {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 1px solid black;
}

.orcamento {
  background-color: black;
  text-align: center;
  padding: 60px 0;
}

.orcamento__subtitulo {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
  padding-bottom: 40px;
}

.orcamento__subtitulo::after {
  display: block;
  content: "";
  border-bottom: 3px solid white;
  width: 50px;
  margin: 5px auto;
}

.orcamento .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px;
}

.orcamento__form {
  color: #FFF;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orcamento__form label {
  color: #FFF;
  text-align: left;
  padding-bottom: 10px;
}

.orcamento__form input {
  background: none;
  color: #FFF;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  border: 3px solid var(--amarelo);
}

.orcamento__form textarea {
  background: none;
  color: #FFF;
  outline: none;
  padding: 2px 5px;
  border: 3px solid var(--amarelo);
}

.orcamento__form .c-btn {
  width: inherit;
  margin-top: 20px;
}

.orcamento__info {
  width: 50%;
  margin-left: 50px;
  color: #FFF;
  text-align: left;
  font-weight: bold;
}

.orcamento__info__card {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orcamento__info span {
  padding: 10px 0px;
}

.orcamento__info h3 {
  color: var(--amarelo);
  text-transform: uppercase;
  padding-bottom: 5px;
}

.orcamento__info ul {
  list-style: "- ";
  list-style-position: inside;
}

.orcamento__info ul li {
  padding: 10px 10px;
}

.orcamento__info ul li:nth-child(odd) {
  background-color: #201f1f;
}

.portfolio-bg {
  background-image: url("../img/bg-portfolio.jpg");
  background-size: cover;
}

.portfolio .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .container .c-quote-externo__paragrafo {
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2rem;
}

.portfolio .container .c-quote-externo__autor {
  color: #000;
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */